{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink_to_fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <title>{%block title %}Новости со всего мира{%endblock%}</title>
</head>
<body>

{% include 'inc/_style.html' %}
{% include 'inc/_nav.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% load cache %}
            {% cache 50 sidebar %}
            {%block sidebar %}SIDEBAR{% endblock %}
            {% endcache %}
        </div>
        <div class="col-md-9">
            {% include 'inc/_pages.html' %}
            {% include 'inc/_messages.html' %}
            {%block content %}{% endblock %}
            {% include 'inc/_pages.html' %}
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
</html>