{% extends 'base.html' %}
{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}
{%block sidebar %}
{% include 'inc/_sidebar.html'%}
{% endblock %}
{%block content %}
{%for item in news%}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{item.category}}</a>
    </div>
    <div class="card-body">
        {%if item.photo%}
        <img src="{{ item.photo.url }}" alt="" width="350" class="float-left mr-3">
        {%else%}
        <img src="/media/photos/2022/03/09/1572352177_0_0_3003_1689_1920x0_80_0_0_fce871df5152d57016f94d940a0f5ecd.jpg"
             width="350" alt="" class="float-left mr-3">
        {%endif%}
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.content|safe|linebreaks|truncatewords:75}}</p>
        <a href="{{ item.get_absolute_url }}" class="btn btn-primary col-12">Read more...</a>
    </div>
    <div class="card-footer text-muted">
        {{item.created_at|timesince}} ago
    </div>
</div>
{%endfor%}
{% endblock %}
